@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-color: #FFCD69   ;
    --secondary-color: #63b568 ;
    --accent1-color: #da6e4d;
    --accent2-color: black;
    --accent3-color: white;
}

body{
    margin:0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5em;
}

#boulder-def{
    grid-column: 1/13;
}

#equipment-img{
    height:100%;
}

.equipment-float{
    grid-column: 1/13;
    display: block;
}

footer{
    display: flex;
    background-color: var(--secondary-color);
    margin-top: 100px;
    height: 120px;
    align-items:center;
    justify-content: center;
}

h1,h2,h3{
    font-family: Lora, serif;
    color:var(--secondary-color)
}

h2{
    margin:0;
    justify-self: left;
    
}


.hero-img{
    
    filter: grayscale(100%);
    grid-column: 1/13;
    grid-row:1/2;
    height:100%;
    width:100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    z-index: 1;
}

.hero-title{
    display: grid;
    grid-column: 1/13;
    grid-row:1/2;
    align-self: center;
    background-color: rgba(0,0,0,.3);
    height:100%;
    width:100%;
    align-items: center;
    justify-items: center;
    color:var(--accent3-color);
    z-index:2;
}

#history-img{
    justify-content:left;
    grid-column: 1/9;
    grid-row:3/6;
    height:100%;
    width:100%;
}
#history-title, #history-text{
    grid-column: 9/13;
    justify-content:right;
}

#history-text{
    grid-row:4/5;
}

#history-title{
    grid-row:3/4;
    height:30px;
}

.hold-card{
    background-color: var(--accent1-color);
    color:var(--accent3-color);
    padding:20px;
    border-radius: 20px;
}

.hold-card .mini-title{
    color:var(--primary-color);
    margin-top: 0;
}

.hold-card:nth-child(even){
    grid-column: 1/7;
}

.hold-card:nth-child(odd){
    grid-column: 7/13;
}

#info-def{
    grid-column: 1/13;
}

#logo{
    width:70px;
    margin:auto;
    align-self: center;
    display: block;
    border-radius: 10px;
}


main{
    display:grid;
    justify-items: center;
    max-width:1200px;
    margin:auto;
    grid-template-columns: repeat(12,1fr);
    gap:40px;
}

#mountain-project{
    grid-column: 1/13;
}

nav{
    background-color: var(--secondary-color);
    height:120px;
    display:flex;
    align-items: center;
    margin-bottom: 50px;
}

nav a, footer a{
    box-sizing: border-box;
    text-decoration: none;
    color: var(--accent3-color);
    padding:20px 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
}

nav a:hover, footer a:hover{
    color: var(--primary-color);
    background-color: var(--accent1-color);
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0,0,0,.5);
    color:var(--accent3-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }

.pic-container{
    float:right;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    height:250px;
    
}

.pic-container:hover .overlay {
    opacity: 1;
  }

.title{
    grid-column: 1/13;
    justify-self: center;
}

.text{
    justify-self: left;
    grid-column: 1/13;
}